* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Nothing You Could Do', cursive, Arial, Helvetica, sans-serif;
  color: #0E1A06;
}

body {
  background-color: #EEF4EA;
  /*MEDIA QUERIES*/
}

body header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body header nav {
  background-color: rgba(242, 204, 52, 0.9);
  height: 100vh;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-clip-path: polygon(0 0, 75% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 75% 0, 100% 100%, 0 100%);
}

body header nav ul {
  margin: 3rem 0 0 1rem;
}

body header nav ul li {
  padding: 1rem;
  list-style: none;
  font-size: 1.5rem;
  text-transform: uppercase;
}

body header nav ul li a {
  text-decoration: none;
}

body header nav ul li a:hover {
  background-color: #CC4343;
  padding: 1rem;
  font-size: 2rem;
  -webkit-clip-path: polygon(0 0, 100% 0, 90% 100%, 0 90%);
          clip-path: polygon(0 0, 100% 0, 90% 100%, 0 90%);
}

body header nav img {
  background-color: #7F8D5C;
  padding: 1rem 2rem 3rem 1rem;
  width: 300px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  position: relative;
  margin-top: 15rem;
}

body header #hero-img {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

body #about {
  margin-top: 3rem;
  padding-bottom: 2rem;
  background-color: #0E1A06;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #about .label {
  width: 70%;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: #E97E94;
  -webkit-transform: translateY(-75%);
          transform: translateY(-75%);
}

body #about .label p {
  padding: 1rem;
  color: #0E1A06;
  font-size: 3rem;
}

body #about #about-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #about #about-wrapper #about-img-wrapper {
  width: 25%;
  -webkit-clip-path: polygon(0 0, 91% 0, 100% 100%, 4% 100%);
          clip-path: polygon(0 0, 91% 0, 100% 100%, 4% 100%);
}

body #about #about-wrapper #about-img-wrapper #img-about-1 {
  width: 100%;
  padding: 2rem;
  background-color: #7F8D5C;
}

body #about #about-wrapper #about-text-wrapper {
  width: 75%;
  padding: 0 2rem;
  line-height: 1.8;
}

body #about #about-wrapper #about-text-wrapper p {
  color: #F2CC34;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
}

body #work {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

body #work #work-img-1 {
  background-color: #c9c75f;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 /span 2;
}

body #work #work-img-1 img {
  -webkit-clip-path: polygon(30px 0, 100% 40px, 100% 100%, 0 95%);
          clip-path: polygon(30px 0, 100% 40px, 100% 100%, 0 95%);
}

body #work #work-img-2 {
  background-color: #122850;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / span 1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 /span 1;
}

body #work #work-img-2 img {
  -webkit-clip-path: polygon(25px 0, 90% 10px, 90% 90%, 0 90%);
          clip-path: polygon(25px 0, 90% 10px, 90% 90%, 0 90%);
}

body #work #work-img-3 {
  background-color: #a07669;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3 / span 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 /span 1;
}

body #work #work-img-3 img {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 92%, 25px 95%);
          clip-path: polygon(0 0, 100% 0, 100% 92%, 25px 95%);
}

body #work #work-img-4 {
  background-color: rgba(150, 63, 145, 0.5);
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 /span 1;
}

body #work #work-img-4 img {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 95%);
          clip-path: polygon(0 0, 100% 0, 100% 90%, 0 95%);
}

body #work #work-img-5 {
  background-color: rgba(187, 186, 183, 0.5);
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / span 1;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 /span 1;
}

body #work #work-img-5 img {
  -webkit-clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 95%);
          clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 95%);
}

body #work #work-img-6 {
  background-color: rgba(161, 49, 35, 0.8);
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4 / span 1;
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5 /span 1;
}

body #work #work-img-7 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / span 1;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 /span 1;
}

body #work #work-img-7 img {
  -webkit-clip-path: polygon(0 0, 100% 25px, 100% 100%, 22px 95%);
          clip-path: polygon(0 0, 100% 25px, 100% 100%, 22px 95%);
}

body #work #work-img-8 {
  background-color: rgba(48, 117, 48, 0.7);
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4 / span 1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2 /span 2;
}

body #work #work-img-9 {
  background-color: rgba(235, 183, 39, 0.9);
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2 / span 3;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 /span 1;
}

body #work #work-img-9 img {
  -webkit-clip-path: polygon(20px 0, 100% 40px, 95% 90%, 0 95%);
          clip-path: polygon(20px 0, 100% 40px, 95% 90%, 0 95%);
}

body #work #work-img-10 {
  background-color: rgba(14, 26, 6, 0.7);
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / span 3;
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5 /span 1;
}

body #work #work-img-10 img {
  -webkit-clip-path: polygon(10% 0, 90% 0, 100% 100%, 10px 100%);
          clip-path: polygon(10% 0, 90% 0, 100% 100%, 10px 100%);
}

body #work img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 1rem;
  cursor: pointer;
}

body #modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  -webkit-animation-name: modalopen;
          animation-name: modalopen;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  width: 100vw;
  height: 100vh;
  z-index: 10;
}

body #modal .modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

body #modal .modal #modal-img-wrapper {
  width: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem 0;
  overflow: hidden;
}

body #modal .modal #modal-img-wrapper .modal-work-container {
  text-align: center;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  margin: 1rem 0;
  width: 700px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body #modal .modal #modal-img-wrapper .modal-work-container .caption {
  background-color: #3A3B56;
  color: #EEF4EA;
  margin: 1rem 0;
  padding: 0.5rem;
  letter-spacing: 2px;
  font-size: 1.5rem;
  width: 700px;
}

body #modal .modal #modal-img-wrapper .modal-work-container img {
  max-width: 700px;
  height: 100%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  padding: 0;
}

body #modal .modal #modal-btn {
  width: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body #modal .modal #modal-btn button {
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  width: 49.5%;
  background-color: #F2CC34;
}

body #modal .modal #modal-btn button:hover {
  opacity: 0.7;
  -webkit-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
}

body #modal .modal #modal-btn button:focus {
  outline: none;
}

body #modal .modal #modal-btn button i {
  width: 100%;
  color: #0A0F5B;
}

body #modal .modal #modal-close {
  border: none;
  cursor: pointer;
  margin: 1rem 3rem 0 0;
  -ms-flex-item-align: end;
      align-self: flex-end;
  background: #F2CC34;
  border-radius: 50%;
}

body #modal .modal #modal-close:focus {
  outline: none;
}

body #modal .modal #modal-close:hover {
  color: #CC4343;
  background-color: #3A3B56;
  -webkit-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
}

body #modal .modal #modal-close i {
  color: #CC4343;
  font-size: 1.5rem;
  padding: 0.5rem 0.8rem;
}

@-webkit-keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body footer {
  padding: 2rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #3A3B56;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body footer div {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 0 2rem;
}

body footer div #contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body footer div #contact-info i, body footer div #contact-info p {
  padding: 0 3rem 1rem 0;
  font-size: 2rem;
  color: #EEF4EA;
}

body footer div #contact-info i:hover, body footer div #contact-info p:hover {
  color: #F2CC34;
  cursor: pointer;
  -webkit-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
}

body footer div p {
  color: #EEF4EA;
}

body footer div a {
  color: #F2CC34;
  text-decoration: none;
}

body footer div a:hover {
  color: #E97E94;
  -webkit-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
}

body footer #link-home {
  -webkit-clip-path: polygon(100% 12%, 100% 30%, 100% 70%, 15% 72%, 0% 50%, 18% 30%);
          clip-path: polygon(100% 12%, 100% 30%, 100% 70%, 15% 72%, 0% 50%, 18% 30%);
  background-color: #F2CC34;
  margin-left: 3rem;
  left: 0;
  padding: 2rem;
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: bolder;
}

body footer #link-home:hover {
  background-color: #7F8D5C;
  color: #F2CC34;
  -webkit-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
}

body footer #link-work {
  -webkit-clip-path: polygon(81% 20%, 100% 50%, 82% 79%, 0 78%, 0 50%, 0 23%);
          clip-path: polygon(81% 20%, 100% 50%, 82% 79%, 0 78%, 0 50%, 0 23%);
  background-color: #F2CC34;
  margin-right: 3rem;
  right: 0;
  padding: 2rem;
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: bolder;
}

body footer #link-work:hover {
  background-color: #7F8D5C;
  color: #F2CC34;
  -webkit-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
}

@media only screen and (max-width: 700px) {
  body header nav {
    -webkit-clip-path: polygon(0 0, 60% 0, 80% 100%, 0 100%);
            clip-path: polygon(0 0, 60% 0, 80% 100%, 0 100%);
  }
  body header nav ul {
    margin: 2rem 0 0 0;
  }
  body header nav ul li a {
    font-size: 1rem;
  }
  body header nav ul li a:active {
    background-color: #CC4343;
    padding: 1;
    font-size: 1rem;
    -webkit-clip-path: polygon(0 0, 100% 0, 90% 100%, 0 90%);
            clip-path: polygon(0 0, 100% 0, 90% 100%, 0 90%);
  }
  body header nav img {
    padding: 1rem 2rem 3rem 1rem;
    width: 200px;
    margin-top: 12rem;
  }
  body #about {
    margin-top: 1rem;
    padding-bottom: 2rem;
    background-color: #0E1A06;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body #about .label p {
    padding: 1rem;
    font-size: 1rem;
  }
  body #about #about-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body #about #about-wrapper #about-img-wrapper #img-about-1 {
    display: none;
  }
  body #about #about-wrapper #about-text-wrapper {
    width: 90%;
    padding: 0 1rem;
  }
  body #about #about-wrapper #about-text-wrapper p {
    font-size: 0.8rem;
  }
  body #work {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  body #work #work-img-1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / span 1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 /span 1;
  }
  body #work #work-img-2 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / span 1;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 /span 1;
  }
  body #work #work-img-3 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / span 1;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 /span 1;
  }
  body #work #work-img-4 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / span 1;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4 /span 1;
  }
  body #work #work-img-5 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / span 1;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5 /span 1;
  }
  body #work #work-img-6 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / span 1;
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6 /span 1;
  }
  body #work #work-img-7 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / span 1;
    -ms-grid-row: 7;
    -ms-grid-row-span: 1;
    grid-row: 7 /span 1;
  }
  body #work #work-img-8 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / span 1;
    -ms-grid-row: 8;
    -ms-grid-row-span: 1;
    grid-row: 8 /span 1;
  }
  body #work #work-img-9 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / span 1;
    -ms-grid-row: 9;
    -ms-grid-row-span: 1;
    grid-row: 9 /span 1;
  }
  body #work #work-img-10 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / span 1;
    -ms-grid-row: 10;
    -ms-grid-row-span: 1;
    grid-row: 10 /span 1;
  }
  body #modal .modal #modal-img-wrapper {
    width: 300px;
    height: auto;
    margin: 0.5rem 0;
  }
  body #modal .modal #modal-img-wrapper .modal-work-container .caption {
    width: 300px;
  }
  body #modal .modal #modal-img-wrapper img {
    width: 300px;
  }
  body #modal .modal #modal-btn {
    width: 300px;
  }
  body #modal .modal #modal-close {
    margin: 1rem;
    -ms-flex-item-align: end;
        align-self: flex-end;
    background: none;
    border-radius: 50%;
  }
  body #modal .modal #modal-close:focus {
    outline: none;
  }
  body #modal .modal #modal-close:active {
    color: #F2CC34;
    background-color: none;
  }
  body #modal .modal #modal-close i {
    font-size: 1rem;
  }
  body footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body footer div #contact-info i, body footer div #contact-info p {
    padding: 1rem;
    font-size: 1em;
  }
  body footer div #contact-info i:active, body footer div #contact-info p:active {
    color: #F2CC34;
  }
  body footer div a {
    display: block;
    color: #F2CC34;
    text-decoration: none;
  }
  body footer div a:active {
    color: #E97E94;
  }
  body footer #link-home, body footer #link-work {
    padding: 1rem;
    font-size: 1rem;
    margin-right: 5rem;
    text-align: center;
  }
  body footer #link-home:active, body footer #link-work:active {
    background-color: #7F8D5C;
    color: #F2CC34;
  }
}
/*# sourceMappingURL=style.css.map */
